  <%- include('./partials/header') %> <%- include('./partials/nav') %>

  <!-- Profile Header Section -->
  <section
    class="w-full bg-[#4f46e5] text-white py-16 flex flex-col items-center"
  >
    <div class="max-w-4xl text-center px-4">
      <div class="relative mb-5">
        <img
          src="<%= user.avatar?.startsWith('https') ? user.avatar : '/' + user.avatar %>"
          alt="User Avatar"
          class="rounded-full h-40 w-40 mx-auto shadow-lg"
        />
      </div>
      <div class="flex gap-3 items-center justify-center mb-5">
        <div class="w-[50px]">
          <div class="text-[18px]"><%=user.posts.length %></div>
          <p class="text-[12px]">Posts</p>
        </div>
        <div class="w-[50px]">
          <div class="text-[18px]"><%= user.followers.length %></div>
          <p class="text-[12px]">Followers</p>
        </div>
        <div class="w-[50px]">
        

          <div class="text-[18px]"><%= user.following.length %></div>
          <p class="text-[12px]">Following</p>
        </div>
      </div>
      <h1 class="text-4xl font-bold mb-2"><%= user.username %></h1>
      <p class="text-lg mb-6"><%= user.bio %></p>
      <% if (user._id.toString() !== loginUserId.toString()) { %>
        <div class="flex justify-center items-center gap-3">
       <button id="followBtn"
    onclick="followUnFollowLogic(
        '<%= loginUserId %>',
        '<%= user._id %>',
        `<%=(JSON.stringify(user)) %>`,
        `<%=(JSON.stringify(loginUser)) %>`
    )"
    class="inline-block bg-white text-[#4f46e5] font-bold py-2 px-8 rounded-lg shadow-md hover:bg-gray-200 transition duration-300">
  <%= user.followers.includes(loginUserId) ? 'Following' : 'Follow' %>
</button>
      <a href="/privateMessage/<%=user._id  %>" class="inline-block bg-white cursor-pointer text-[#4f46e5] font-bold py-2 px-6 rounded-lg shadow-md hover:bg-gray-200 transition duration-300">Message</a>
        </div>

      <% }else { %>
      <a
        href="/update-profile"
        class="inline-block bg-white text-[#4f46e5] font-bold py-2 px-6 rounded-lg shadow-md hover:bg-gray-200 transition duration-300"
        >Edit Profile</a
      >
      <% } %>
    </div>
  </section>

  <!-- User Details Section -->
  <section class="w-full  py-16 bg-white-300 text-gray-700">
    <div class="max-w-5xl grid gap-8 mx-auto px-4">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
        <!-- User Information -->
        <div
          class="lg:col-span-1 bg-white p-8 rounded-lg border-[0.5px] shadow-lg"
        >
          <h2 class="text-2xl font-bold mb-6 text-[#4f46e5]">
            Profile Information
          </h2>
          <ul class="space-y-4">
            <li><strong>Email:</strong> <%= user.email %></li>
            <li><strong>Location:</strong> <%= user.location %></li>
            <li><strong>Member Since:</strong> January 2023</li>
            <li><strong>Interests:</strong> <%=user.interests %></li>
            <li>
              <strong>Website:</strong>
              <a href="<%= user.website %>" class="text-[#4f46e5] hover:underline"
                ><%= user.website %></a
              >
            </li>
          </ul>
        </div>

        <!-- Recent Activities -->
        <div class="lg:col-span-2">        
          <!-- Recent Activities -->
          <div class="bg-white p-8 border-[0.5px] rounded-lg shadow-lg">
            <h2 class="text-2xl font-bold mb-6 text-[#4f46e5]">
              Recent Activities
            </h2>
            <ul class="space-y-4">
              <!-- Activity 1 -->
              <li class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 text-[#4f46e5] mr-2"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  />
                </svg>
                <p>Joined the <strong>Climate Action Group</strong></p>
              </li>
              <!-- Activity 2 -->
              <li class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 text-[#4f46e5] mr-2"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  />
                </svg>
                <p>Attended <strong>Community Gardening Workshop</strong></p>
              </li>
              <!-- Activity 3 -->
              <li class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 text-[#4f46e5] mr-2"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  />
                </svg>
                <p>Donated to <strong>Local Food Bank</strong></p>
              </li>
              <!-- Activity 4 -->
              <li class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 text-[#4f46e5] mr-2"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  />
                </svg>
                <p>Donated to <strong>Volunteered at Animal Shelter</strong></p>
              </li>
              <!-- Activity 5 -->
              <li class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 text-[#4f46e5] mr-2"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  />
                </svg>
                <p>Donated to <strong>Organized a Blood Donation Camp</strong></p>
              </li>
              <!-- Activity 6 -->
              <li class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 text-[#4f46e5] mr-2"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  />
                </svg>
                <p>Donated to <strong>Started a Recycling Initiative</strong></p>
              </li>
            </ul>
          </div>
        </div>
      </div>

       <!-- Recent Posts -->
       <div class="bg-white p-8 rounded-lg border-[0.5px] shadow-lg mb-8">
        <h2 class="text-2xl font-bold mb-6 text-[#4f46e5]">Recent Posts</h2>
        <div class="space-y-6">
          <% user.posts.forEach(post => { %>
          <div class="bg-white p-4 rounded-lg shadow-md" id="post-<%= post._id %>">
            <div class="flex justify-between">
              <div class="flex items-center mb-2">
                <a href="#">
                  <img
                  src="<%= user.avatar?.startsWith('https') ? user.avatar : '/' + user.avatar %>"
                  alt="User Avatar"
                  class="w-10 h-10 rounded-full mr-3"
                />
                </a>
    
                <div>
                  <h4 class="text-gray-900 font-semibold">
                    <%= post.createdBy?.username %>
                  </h4>
                  <p class="text-gray-600 text-sm">
                    <%= new Date(post.createdAt).toDateString() %>
                  </p>
                </div>
              </div>
              <div class="flex gap-3">
                <div class="dropdown">
                  <button class="p-2 rounded-lg">
                    <i class="ri-more-2-fill"></i>
                  </button>
                  <div class="dropdown-content">
                   
                    <div class="dropdown-item" onclick="openEditModal(`<%= post._id %>`, `<%= (post.postContent) %>`, `<%= JSON.stringify(post.postImage) %>`)">
                      <i class="ri-edit-line"></i> Edit
                    </div>
                    
                    <div class="dropdown-item"  onclick="deletePost('<%= post._id%>');">
                      <i class="ri-delete-bin-line"></i> Delete
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-gray-800 mb-4"><%= post.postContent%></p>
            <% if (post.postImage) { %>
            <img
              src="\<%= post.postImage || 'https://randomuser.me/api/portraits/women/2.jpg' %>"
              alt="Post Image"
              class="w-[250px] m-auto rounded-lg mb-4"
            />
            <% } %>
            <div class="flex justify-between items-center">
              <div class="flex space-x-4">
                <form action="/post/like/<%= post._id %>" method="post">
                  <button
                    class="flex items-center space-x-2 text-gray-600 hover:text-indigo-600"
                  >
                    <span><%= post.likes.length %></span>
                    <span>Like</span>
                  </button>
                </form>
                <form action="/post/dislike/<%= post._id %>" method="post">
                  <button
                    class="flex items-center space-x-2 text-gray-600 hover:text-red-600"
                  >
                    <span><%= post.dislikes.length %></span>
                    <span>Dislike</span>
                  </button>
                </form>
              </div>
              <button
                onclick="toggleComments('<%= post._id %>')"
                class="flex items-center space-x-2 text-gray-600 hover:text-indigo-600"
              >
                <svg
                  class="w-5 h-5"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M8 10h.01M12 10h.01M16 10h.01M21 16a2 2 0 01-2 2H7l-4 4v-4a2 2 0 01-2-2V7a2 2 0 012-2h14a2 2 0 012 2v9z"
                  ></path>
                </svg>
                <span>Comment</span>
                <span>(<%= post.comments.length %>)</span>
              </button>
            </div>
            <!-- Comment Section -->
            <div id="comments-<%= post._id %>" class="mt-4 hidden">
              <% post.comments.forEach(comment => { %> <%
              // console.log(comment.createdBy?.avatar , 'cccccccc') %>
              <div class="flex items-center mb-2">
                <img
                  src="<%=comment.createdBy?.avatar  %>"
                  alt="User Avatar"
                  class="w-8 h-8 rounded-full mr-3"
                />
                <div>
                  <div class="flex gap-2 items-center">
                    <h6 class="text-gray-900 font-semibold">
                      <%= comment.createdBy?.username %>
                    </h6>
                    <p class="text-gray-600 text-[12px]">
                      <%= new Date(comment.createdAt).toDateString() %>
                    </p>
                  </div>
                  <p class="text-gray-900 font-semibold text-md">
                    <%= comment.content%>
                  </p>
                </div>
              </div>
              <% }) %>
              <form
                class="space-y-2"
                action="/post/comment/<%= post._id %>"
                method="post"
              >
                <input
                  rows="2"
                  name="content"
                  placeholder="Add a comment..."
                  class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500"
                />
                <button
                  type="submit"
                  class="bg-indigo-600 text-white px-4 py-2 rounded hover:bg-indigo-700 transition-colors"
                >
                  Post Comment
                </button>
              </form>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
    
  </section>

  <!-- Call to Action Section -->
  <section
    class="w-full bg-[#4f46e5] text-white py-16 flex flex-col items-center"
  >
    <div class="max-w-3xl text-center px-4">
      <h2 class="text-4xl font-bold mb-6">Get More Involved with BeSocial!</h2>
      <p class="text-lg leading-relaxed mb-6">
        Discover more ways to contribute, connect with new groups, and join
        activities that matter. Explore now!
      </p>
      <a
        href="/users/logout"
        class="inline-block bg-white text-[#4f46e5] font-bold py-3 px-8 rounded-lg shadow-md hover:bg-gray-200 transition duration-300"
        >Logout</a
      >
    </div>
  </section>

  <%- include('./partials/footer') %>

  <script>
    async function followUnFollowLogic(loginUserId,userId,user,loginUser ){

      try {

        const objuser = JSON.parse(user)
        const objloginuser = JSON.parse(loginUser)

        if(objloginuser.following.includes(userId) && objuser.followers.includes(loginUserId)){
          console.log("unfollow")
          await unFollowUser(userId)
        }else{
          console.log("follow")
          await followUser(userId)
        }
      
      } catch (error) {
        console.error("Error parsing user object:", error);
        alert("An error occurred. Please try again later.");
        return;
      }
      
  }
    
  async function followUser(userId) {
      const followBtn = document.getElementById('followBtn');
      console.log(userId);
      try {
        const response = await fetch(`/users/followUser/${userId}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        });
        if (response.ok) {
          // Assuming the server sends a message on successful follow
          // followBtn.textContent = 'Following'
          // alert("Following successfully!");
        } else {
          // followBtn.textContent = 'Follow'
          alert(`Failed to follow: ${error.message || "Unknown error"}`);
        }
      } catch (error) {
        console.error("Error following user:", error);
        alert("An error occurred while trying to follow the user.");
        // followBtn.textContent = 'Follow'
      }
    }

    async function unFollowUser(userId) {
      const followBtn = document.getElementById('followBtn');
      try {
        const response = await fetch(`/users/unFollowUser/${userId}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        });
        console.log(response);
        if (response.ok) {
          // Assuming the server sends a message on successful follow
          // followBtn.textContent = 'Follow'
          // alert("unFollow successfully!");
        } else {
          // Handle non-OK responses, including a possible error message from the server
          // followBtn.textContent = 'Following'
          alert(`Failed to follow: ${error.message || "Unknown error"}`);
        }
      } catch (error) {
        // Catch network errors or other unexpected issues
        console.error("Error following user:", error);
        // followBtn.textContent = 'Following'
        alert("An error occurred while trying to follow the user.");
      }
    }
  </script>

  <!-- ( New Post / Edit Post ) Modal -->
  <div
    id="post-modal"
    class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden"
  >
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-lg w-full">
      <div class="flex justify-between items-center mb-4">
        <h3 id="modal-title" class="text-xl font-semibold">Add New Post</h3>
        <button
          onclick="document.getElementById('post-modal').classList.add('hidden')"
          class="text-gray-500 hover:text-gray-700"
        >
          &times;
        </button>
      </div>
      <form
        // action="/post/create-post"
        method="POST"
        enctype="multipart/form-data"
        class="space-y-4"
      >
        <div>
          <label for="content" class="block text-gray-700 font-semibold mb-2"
            >Post Content:</label
          >
          <textarea
            id="content"
            name="postContent"
            required
            class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500"
            placeholder="What's on your mind?"
          ></textarea>
        </div>
        <div>
          <label for="image" class="block text-gray-700 font-semibold mb-2"
            >Image (optional):</label
          >
          <input
            type="file"
            id="image"
            name="postImage"
            accept="image/*"
            class="hidden"
            onchange="showFileName(this)"
          />
          <label
            for="image"
            class="cursor-pointer bg-indigo-600 text-white px-4 py-2 rounded-lg hover:bg-indigo-700 transition-colors inline-block"
          >
            Choose Image
          </label>
          <span id="file-name" class="ml-2 text-gray-600"></span>
        </div>
        <button
        id="submit-btn"
          type="submit"
          class="w-full bg-indigo-600 text-white p-3 rounded-lg hover:bg-indigo-700 transition-colors"
        >
          
        </button>
      </form>
    </div>
  </div>

  <script>
    function showFileName(input) {
      const fileName = input.files[0] ? input.files[0].name : "";
      document.getElementById("file-name").textContent = fileName;
    }
    function toggleComments(postId) {
      const commentSection = document.getElementById("comments-" + postId);
      commentSection.classList.toggle("hidden");
    }

    // create-modal-function
function openCreateModal() {
  const modal = document.getElementById('post-modal');
  const form = modal.querySelector('form');
  
  // Set the form action to include the postId
  form.action = `/post/create-post/`;

  // Populate the modal fields with the post data
  const contentTextarea = modal.querySelector('textarea[name="postContent"]');
  contentTextarea.value = '';

  const imageSpan = modal.querySelector('#file-name');
  imageSpan.textContent = '';

  const submitBtn = modal.querySelector('#submit-btn')
  submitBtn.textContent = 'Post'

  // Show the modal
  modal.classList.remove('hidden');
}

// edit-modal-function
function openEditModal(postId, postContent, postImage) {

  console.log(postId,postContent,postImage,'iiiiiiiiiiiiiiiii')
  const modal = document.getElementById('post-modal');
  const form = modal.querySelector('form');
  
  // Set the form action to include the postId
  form.action = `/post/editPost/${postId}`;

  // Populate the modal fields with the post data
  const contentTextarea = modal.querySelector('textarea[name="postContent"]');
  contentTextarea.value = postContent || '';

  const imageSpan = modal.querySelector('#file-name');
  imageSpan.textContent = postImage || 'No image';

  const submitBtn = modal.querySelector('#submit-btn')
  submitBtn.textContent = 'Update Post'

  // Show the modal
  modal.classList.remove('hidden');
}
    </script>

  <%- include('./partials/footer') %>
</div>

<!-- JS Logic for deletion and Updation -->

<script defer>
    
    async function deletePost(postId) {
        try {
            const response = await fetch(`/post/deletePost/${postId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (response.ok) {
                // Handle successful deletion
                // alert('Post deleted successfully');
                document.getElementById(`post-${postId}`).remove();
            } else {
                // Handle error
                alert('Error deleting post');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }
    
    </script>